# Decision Tree

# Decision Tree is used for both classification and Regression

In [1]:
import pandas as pd

In [4]:
iris = pd.read_csv('iris.csv')

In [5]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [8]:
y = iris[['Species']]

In [7]:
x = iris[['SepalLengthCm']]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.4)

In [12]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
dtc = DecisionTreeClassifier()

In [15]:
dtc.fit(x_train , y_train)

DecisionTreeClassifier()

In [16]:
y_pred = dtc.predict(x_test )

In [17]:
y_test.head()

             Species
95   Iris-versicolor
137   Iris-virginica
126   Iris-virginica
35       Iris-setosa
58   Iris-versicolor

In [18]:
y_pred[0:5]

array(['Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor'], dtype=object)

In [19]:
from sklearn.metrics import confusion_matrix

In [20]:
confusion_matrix(y_test,y_pred)

array([[14,  2,  0],
       [ 2, 14,  4],
       [ 0, 13, 11]], dtype=int64)

In [21]:
(14+14+11)/(14+2+0+2+14+4+0+13+11)

0.65

In [22]:
# Decision tree regressor

In [23]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [24]:
x = iris[['PetalLengthCm']]

In [25]:
y = iris[['SepalLengthCm']]

In [26]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.25)

In [27]:
from sklearn.tree import DecisionTreeRegressor

In [28]:
dtr = DecisionTreeRegressor()

In [29]:
dtr.fit(x_train , y_train)

DecisionTreeRegressor()

In [33]:
y_pred = dtr.predict(x_test)

In [34]:
y_test.head()

     SepalLengthCm
5              5.4
134            6.1
132            6.4
94             5.6
8              4.4

In [35]:
y_pred[:5]

array([5.4       , 6.425     , 6.425     , 5.7       , 4.96666667])

In [37]:
from sklearn.metrics import mean_squared_error

In [38]:
mean_squared_error(y_test,y_pred)

0.150081820622986