In [1]:
import pandas as pd

In [4]:
Boston = pd.read_csv('Boston.csv')

In [5]:
Boston.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [6]:
y = Boston[['medv']]

In [7]:
x = Boston[['crim']]

In [8]:
from sklearn.linear_model import LinearRegression

In [10]:
from sklearn.model_selection import train_test_split

In [12]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.3)

In [13]:
lr = LinearRegression()

In [14]:
lr.fit(x_train,y_train)

LinearRegression()

In [17]:
y_pred = lr.predict(x_test)

In [36]:
y_test.head()

        crim
300  0.04417
214  0.28955
64   0.01951
99   0.06860
93   0.02875

In [37]:
y_pred[0:5]

array([[23.91612158],
       [24.36936774],
       [24.38427728],
       [18.33020867],
       [24.12324406]])

In [38]:
from sklearn.metrics import mean_squared_error

In [39]:
mean_squared_error(y_test , x_test)

139.99482142445657

In [40]:
x = Boston[['lstat']]
y = Boston[['crim']]

In [41]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.3)

In [42]:
lr2 = LinearRegression()

In [43]:
lr2.fit(x_train,y_train)

LinearRegression()

In [44]:
y_pred2 = lr2.predict(x_test)

In [45]:
from sklearn.metrics import mean_squared_error

In [46]:
mean_squared_error(y_test , y_pred)

449.9063997766649