In [1]:
import numpy as np
import pandas as pd
# from matplotlib import

In [2]:
Boston = pd.read_csv('Boston.csv')

In [3]:
Boston.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
y = Boston[['medv']]
x = Boston[['crim']]

In [5]:
from sklearn.linear_model import LinearRegression

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.3)

In [11]:
x_train

        crim
354  0.04301
292  0.03615
372  8.26725
271  0.16211
485  3.67367
..       ...
215  0.19802
484  2.37857
281  0.03705
357  3.84970
214  0.28955

[354 rows x 1 columns]

In [12]:
lr = LinearRegression()

In [13]:
lr.fit(x_train , y_train)

LinearRegression()

In [14]:
y_pred = lr.predict(x_test)

In [18]:
y_test.head()

     medv
317  19.8
251  24.8
32   13.2
208  24.4
432  16.1

In [19]:
y_pred[:5]

array([[24.54850976],
       [24.56501312],
       [23.94267792],
       [24.60648093],
       [21.26224165]])

In [21]:
from sklearn.metrics import mean_squared_error

In [22]:
mean_squared_error(y_test , y_pred)

64.53949192386649

In [24]:
x = Boston[['lstat']]

In [25]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.3)

In [26]:
lr2 = LinearRegression()

In [27]:
lr2.fit(x_train , y_train)

LinearRegression()

In [28]:
y2_pred = lr2.predict(x_test)

In [30]:
from sklearn.metrics import mean_squared_error

In [31]:
mean_squared_error(y_test , y_pred)

183.37059436444642